rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Temporarily allow any authenticated user to read and write.
    // This is for troubleshooting the "hanging" upload issue.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
